#title {
    color:#2B3EF2
}

.list-group-item+ .list-group-item {
    border-top: 1px solid #f7f9fa;
}

.weather-pane {
    padding-right: 15px;
}

#forecast-title {
color: #9fc5dc;
}

.row-current {
    margin-right: 90px;
}

#initial-load{
    margin-left: 75px;
}

#currentWeather {
background-color: #9caab7;
}

.row-city {
    padding-left: 5px;
}

#cCity {
    color: #1b4de4
}
#cdate {
padding-left: 10px;
}

#cIcon, .forecast-icon{
  padding-left: 10px;  
  /* width: 60px; */
  height: 55px;

}

#forecastTitle {
    text-align: center;
    background-color: #4e5d6c;
}

.f-card {
    width: auto;
    margin: auto;
}

@media (max-width: 576px){
    .row-current {
        margin-right:1px;
    }


    #initial-load{
        margin-left: 5px;
    }
    
}