.list-group-item+ .list-group-item {
    border-top: 1px solid #f7f9fa;
}

.weather-pane {
    padding-right: 15px;
}

.row-current {
    margin-right: 90px;
}

#currentWeather {
background-color: #9caab7;
}

.row-city {
    padding-left: 5px;
    text-align: center;
}

#cdate {
padding-left: 10px;
}

#cIcon, .forecast-icon{
  padding-left: 10px;  
  /* width: 60px; */
  height: 55px;

}

#forecastTitle {
    text-align: center;
    background-color: #4e5d6c;
}

.f-card {
    width: auto;
    margin: auto;
}